/* header.component.css */
header {
  width:100%;
  color: black;
  height: 50px;
  top: 0;
  left: 0;
  padding:20px;
}

.head-title {
display: block;
justify-content: center;
font-family:  monospace;
font-weight: bold;
color: rgb(31, 31, 94);
text-align: center;
}

h1 {
  margin: 0;
}

.header-main{
  display:flex;
  justify-content: space-between;
}

.ham{
  padding-right: 0px;
}

i.fa.fa-user-circle{
  margin-right: 10px;
}

/**** LAp ****/
@media only screen and (max-width: 1536px) {

}

@media only screen and (max-width: 1370px){
//   .ham {
//     padding-right: 78%;
// }
}

@media only screen and (max-width: 991px) {
  i.fa{ font-size: 20px; }
}


