<nav class="sidenav">
  <ul class="desktop-nav">
    <li><a routerLink="/">Dashboard</a></li>
    <li><a routerLink="/about">e-Courses</a></li>
    <li><a routerLink="/about">e-Library</a></li>
    <li><a routerLink="/about">Achievements</a></li>
    <li><a routerLink="/about">Messaging</a></li>
    <li><a routerLink="/about">Catalog Mnanagement</a></li>
    <li><a routerLink="/about">Author</a></li>
    <li><a routerLink="/about">My Courses</a></li>
    <li><a routerLink="/about">My Collection</a></li>
    <li><a routerLink="/about">Reports</a></li>
    <li><a routerLink="/about">Settings</a></li>
  </ul>

  <ul class="mobile-nav">
    <li><a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a routerLink="/about"> <i class="fa fa-circle-o" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-envelope-o" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-clone" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-university" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-microchip" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-share-square-o" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"><i class="fa fa-sitemap" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-search-minus" aria-hidden="true"></i> </a></li>
    <li><a routerLink="/about"> <i class="fa fa-trash-o" aria-hidden="true"></i> </a></li>
  </ul>
</nav>
